<%@ Master Language="C#" MasterPageFile="~/BaseWithHeaderNav.master" AutoEventWireup="true" CodeBehind="BaseWithHeaderNavLogin.master.cs" Inherits="ChessKnockoff.BaseWithHeaderNavLogin" %>
<asp:Content ContentPlaceHolderID="BaseContentWithHeaderNav" runat="server">
    <asp:ContentPlaceHolder ID="BaseContentHeaderNavLogin" runat="server">
    </asp:ContentPlaceHolder>
</asp:Content>
