/* Make the default font Arial and set the background to a gray */
body {
    font-family: Arial;
    background-color: #f5f5f5;
}

/* Will display the doge background which will repeat to fill the entire content*/
.doge {
    background-image: url(/Content/Images/Doge.jpg);
    background-repeat: repeat;
}

p {
    max-width: 550px;
}

/* Centered text */
.overlayText {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.infoBox {
    max-width: 530px;
}
/* Make the maximum width for the input forms 330px */
.inputForm {
    max-width: 330px;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
